html {
    scroll-behavior: smooth; /* Défilement fluide */
    height: 100vh; /* Hauteur de 100% de la vue (viewport height) */
    background-image: linear-gradient(rgb(9, 15, 21), rgb(43, 78, 96), rgb(81, 105, 122), rgb(87, 94, 100), #E5A058FF, #CB9430FF, #CAAED5FF, #312873FF); /* Arrière-plan avec un dégradé linéaire */
}

body {
    font-size: 16px;
    background-image: linear-gradient(rgb(9, 15, 21), rgb(43, 78, 96), rgb(81, 105, 122), rgb(87, 94, 100), #E5A058FF, #CB9430FF, #CAAED5FF, #312873FF); /* Arrière-plan avec un dégradé linéaire */
    background-repeat: no-repeat; /* Empêcher la répétition de l'arrière-plan */
    font-family: Arial, sans-serif; /* Police de caractères */
    margin: 0; /* Aucune marge extérieure */
    padding: 0; /* Aucun espacement intérieur */
    text-align: center; /* Alignement du texte au centre */
    position: relative; /* Position relative pour les éléments enfants positionnés */
}

header {
    position: fixed; /* Position fixe, reste en haut de la page lors du défilement */
    top: 0; /* En haut de la page */
    left: 0; /* À gauche de la page */
    width: 100%; /* Largeur de 100% de la largeur de la fenêtre */
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.45) 65%), url('../image/voyage-temps.jpeg'); /* Arrière-plan avec dégradé et image */
    color: #fff; /* Couleur du texte en blanc */
    text-align: center; /* Alignement du texte au centre */
    padding: 20px 0; /* Espacement interne de 20px en haut et en bas */
    z-index: 1; /* Ordre d'empilement au-dessus des autres éléments */
}

nav {
    display: flex; /* Affichage en tant que conteneur flexible */
    position: sticky; /* Position collante, reste visible en défilement */
}

nav>div {
    height: 20px; /* Hauteur de 20px */
    margin-left: 3%; /* Marge à gauche de 3% */
    margin-right: 3%; /* Marge à droite de 3% */
}

nav>div:first-child {
    margin-left: auto; /* Marge à gauche automatique pour le premier élément */
}

nav>div:last-child {
    margin-right: auto; /* Marge à droite automatique pour le dernier élément */
}

nav .submenu {
    display: none; /* Sous-menu initialement masqué */
}

nav>div:hover .submenu {
    display: block; /* Afficher le sous-menu lors du survol */
    padding: 10px; /* Espacement interne de 10px */
}

div.submenu>div {
    padding: 5% 1%; /* Espacement interne */
    position: relative; /* Position relative pour les éléments enfants positionnés */
}

div.submenu {
    border-radius: 5px; /* Coins arrondis */
    background-image: linear-gradient(#070d12, #464e5e); /* Arrière-plan avec un dégradé linéaire */
}

div.submenu > div > a {
    color: white; /* Couleur du texte en blanc */
}

nav a {
    text-decoration: none; /* Supprimer la décoration des liens */
}

nav a, nav>div {
    color: #000000; /* Couleur du texte en noir */
}

.synopsis {
    padding: 60px; /* Espacement interne de 60px */
    text-align: center; /* Alignement du texte au centre */
    margin: auto; /* Centrer horizontalement */
    width: 600px; /* Largeur de 600px */
    color: #c8e9ff; /* Couleur du texte */
    font-weight: bold; /* Police en gras */
    font-family: "Bradley Hand ITC"; /* Police de caractères */
    font-size: 18px; /* Taille de la police */
}

.synopsis h2 {
    margin: auto; /* Centrer horizontalement */
    text-align: center; /* Alignement du texte au centre */
    width: 200px; /* Largeur de 200px */
    background-image: linear-gradient(#142c41, #1a2630); /* Arrière-plan avec dégradé linéaire */
    color: #fff; /* Couleur du texte en blanc */
    padding: 10px 20px; /* Espacement interne */
    text-decoration: none; /* Supprimer la décoration des liens */
    border-radius: 5px; /* Coins arrondis */
    margin-top: 150px; /* Marge supérieure de 150px */
    margin-bottom: 50px; /* Marge inférieure de 50px */
    font-family: Arial; /* Police de caractères */
}

.bouton {
    margin-top: 50px; /* Marge supérieure de 50px */
    text-align: center; /* Alignement du texte au centre */
    background-image: linear-gradient(to bottom, #233541, #344f61); /* Arrière-plan avec dégradé linéaire */
    color: #fff; /* Couleur du texte en blanc */
    padding: 10px 20px; /* Espacement interne */
    text-decoration: none; /* Supprimer la décoration des liens */
    border-radius: 5px; /* Coins arrondis */
    animation-duration: .8s; /* Durée de l'animation de clignotement */
    animation-name: clignoter; /* Nom de l'animation */
    animation-iteration-count: infinite; /* Animation en boucle infinie */
    transition: none; /* Aucune transition */
    z-index: 0; /* Ordre d'empilement */
}

@keyframes clignoter {
    0% { color: #35aaf1; } /* Couleur au début de l'animation */
    40% { color: #6161fa; } /* Couleur à 40% de l'animation */
    100% { opacity: initial; } /* Opacité à la fin de l'animation */
}

#salle3 > div {
    display: flex; /* Utilisez un affichage flexible */
    flex-direction: row; /* Direction des éléments en ligne (horizontale) */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    margin: 50px; /* Marge de 50px autour de l'élément */
}

#salle3 > div > img {
    margin-left: 5%; /* Marge à gauche de 5% */
    margin-right: 10%; /* Marge à droite de 10% */
    height: 24%; /* Hauteur de 24% de l'espace parent */
    width: 24%; /* Largeur de 24% de l'espace parent */
}

#salle3 > div > div > p {
    color: #f8d4a7; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    font-family: "Cambria Math"; /* Police de caractères */
    font-size: 25px; /* Taille de la police */
    background-color: rgba(133, 133, 133, 0.24); /* Arrière-plan semi-transparent */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5); /* Ombre de la boîte */
}

.imggauche {
    display: flex; /* Utilisez un affichage flexible */
    flex-direction: row; /* Direction des éléments en ligne (horizontale) */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
}

.imgdroite {
    display: flex; /* Utilisez un affichage flexible */
    flex-direction: row; /* Direction des éléments en ligne (horizontale) */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
}

#salle2 > div {
    display: flex; /* Utilisez un affichage flexible */
    flex-direction: row-reverse; /* Direction des éléments en ligne inversée (horizontale) */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    margin: 50px; /* Marge de 50px autour de l'élément */
}
#salle2 > div > img {
    margin-left: 10%; /* Marge à gauche de 10% */
    height: 28%; /* Hauteur de 28% de l'espace parent */
    width: 28%; /* Largeur de 28% de l'espace parent */
}
#salle2 > div > div > p {
    color: #d3d3d3; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    font-family: "Cambria Math"; /* Police de caractères */
    font-size: 25px; /* Taille de la police */
    background-color: rgba(133, 133, 133, 0.24); /* Arrière-plan semi-transparent */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5); /* Ombre de la boîte */
}

#salle4>div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
#salle4 > div > img {
    margin-left: 10%;
    height: 38%;
    width: 38%;
}

#salle4 > div > div > p{
    color: #f1d8c5;
    text-align: center;
    font-family: "Cambria Math";
    font-size: 21px;
    background-color: rgba(133, 133, 133, 0.24);
    border-radius: 10px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
#salle5 > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

#salle5 > div > img {
    margin-right: 10%;
    height: 40%;
    width: 40%;
}
#salle5 > div > div > p{
    color: #e2d3f8;
    text-align: center;
    font-family: "Cambria Math";
    font-size: 25px;
    background-color: rgba(133, 133, 133, 0.24);
    border-radius: 10px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
#salle1 > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 200px 20px;
}
#salle1 > p{
    color: #c3d4ff;
    padding: 20px;
    text-align: center;
    margin: 20px 200px 20px;
    font-family: "Cambria Math";
    font-size: 22px;
    background-color: rgba(133, 133, 133, 0.24);
    border-radius: 10px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

#salle1 > div > img {
    margin: 30px;
    height: 25%;
    width: 29%;
}
.imgc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #000000; /* Couleur de fond noire */
    color: #ffffff; /* Couleur du texte en blanc */
    text-align: center; /* Alignement du texte au centre */
    padding: 100px; /* Espacement interne de 100px */
}
.titre1 {
    margin: auto; /* Centrer horizontalement */
    width: 120px; /* Largeur de 120px */
    text-align: center; /* Alignement du texte au centre */
    padding: 10px 10px; /* Espacement interne */
    background-image: linear-gradient(#283c49, #496071); /* Arrière-plan avec dégradé linéaire */
    border-radius: 5px; /* Coins arrondis */
    color: white; /* Couleur du texte en blanc */
}

/* Styles pour les autres titres (similaires à titre 1) */

.titre2{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#54687a, #586068);
    border-radius: 5px;
    color: white;
}

.titre3{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#6b6863, #da9f52);
    border-radius: 5px;
    color: white;
}

.titre4{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#6e562c, #c59d63);
    border-radius: 5px;
    color: white;
}

.titre5{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#c5a07c, #8975ad);
    border-radius: 5px;
    color: white;
}
img.meteorite {
    height: 70px; /* Hauteur de 70px */
    position: fixed; /* Position fixe */
    bottom: 50px; /* À 50px du bas */
    right: 20px; /* À 20px de la droite */
}
#salle1 {
    padding-top: 130px; /* Espacement supérieur de 130px */
}
#salle2, #salle3, #salle4, #salle5 {
    padding-top: 150px; /* Espacement supérieur de 150px */
}

.text {
    padding: 5% 5%; /* Espacement interne de 5% */
}
#logo {
    filter: invert(); /* Inversion des couleurs de l'image */
}

/* Styles pour l'adresse dans le pied de page */
address {
    text-decoration: none; /* Supprimer la décoration des liens */
    color: white; /* Couleur du texte en blanc */
    font-style: normal; /* Style de texte normal */
}
/* Styles pour le contact */
#contact > div {
    display: flex; /* Utilisez un affichage flexible */
    flex-direction: row; /* Direction des éléments en ligne (horizontale) */
    align-items: center; /* Centre les éléments verticalement */
}

#contact > div > img {
    margin: 0px 300px 0px 180px; /* Marge autour de l'image */
}
#gauche > p {
    text-align: left; /* Alignement du texte à gauche */
    font-size: 13px; /* Taille de la police */
}
.imgfooter{
    margin: 0px  10px 0px 10px ;
}
.imglogo{
    margin: 0px  10px 0px 10px ;
}
.under{
    color: white;
    text-decoration: none;
}
/* Styles pour la barre de progression en haut de la page */
.progress-container {
    background: transparent; /* Barre de progression rouge */
    height: 5px; /* Hauteur de 5px */
    width: 100%; /* Largeur de 100% de la largeur de la vue */
    position: fixed; /* Position fixe en haut de la page */
    bottom: 85.5%; /* À 85% du bas de la page */
}

.progress-bar {
    background: skyblue; /* Barre de progression bleue */
    height: 100%; /* Hauteur de 100% */
    width: 0; /* La largeur augmentera en fonction de la progression */
    transition: width 0.3s ease-in-out; /* Transition douce pour la largeur */
}
/* Styles pour l'overlay (utilisé pour le chargement) */
.overlay {
    position: fixed; /* Position fixe pour couvrir la page */
    top: 0; /* En haut de la page */
    left: 0; /* À gauche de la page */
    width: 100%; /* Largeur de 100% de la largeur de la vue */
    height: 100%; /* Hauteur de 100% de la hauteur de la vue */
    background: rgba(0, 0, 0, 0.8); /* Couleur de fond semi-transparente */
    display: none; /* Pour le masquer initialement */
    z-index: 999; /* Placez-le au-dessus du contenu de la page */
}

/* Styles pour les gifs en plein écran */
#gif.fullscreen {
    position: fixed; /* Position fixe pour couvrir la page */
    top: 0; /* En haut de la page */
    left: 0; /* À gauche de la page */
    width: 100vw; /* Largeur de 100% de la largeur de la vue */
    height: 100vh; /* Hauteur de 100% de la hauteur de la vue */
    z-index: 9999; /* Profondeur élevée pour couvrir tout le contenu */
    display: none; /* Pour le masquer initialement */
}

#gif {
    width: 100%; /* Largeur de 100% */
    height: 100%; /* Hauteur de 100% */
}
/* Pour agrandir les images des salles 2, 3, 4 et 5 */
#salle2 > div > img, #salle3 > div > img, #salle4 > div > img, #salle5 > div > img {
    margin-left: 10px; /* Ajout de marge à gauche pour créer un espace */
    height: 200%; /* Augmentation de la hauteur à 40% de l'espace parent */
    width: 200%; /* Augmentation de la largeur à 40% de l'espace parent */
}
/* Pour ajouter de l'espace entre le texte et l'image */
#salle2 > div > div > p, #salle3 > div > div > p, #salle4 > div > div > p, #salle5 > div > div > p {
    margin-left: 10px; /* Ajout de marge à gauche pour créer un espace */
}
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Réduire la taille de la police pour les tablettes */
    }
    #salle1 > div,
    #salle2 > div,
    #salle3 > div,
    #salle4 > div,
    #salle5 > div {
        flex-direction: column; /* Affichage en colonne pour les salles sur les tablettes */
    }
    #salle2 > div > img,
    #salle3 > div > img,
    #salle4 > div > img,
    #salle5 > div > img {
        margin-left: 0; /* Supprimer la marge à gauche des images sur les tablettes */
        height: 100%; /* Ajuster la hauteur des images sur les tablettes */
        width: 100%; /* Ajuster la largeur des images sur les tablettes */
    }
    #salle2 > div > div > p,
    #salle3 > div > div > p,
    #salle4 > div > div > p,
    #salle5 > div > div > p {
        margin-left: 0; /* Supprimer la marge à gauche du texte sur les tablettes */
    }
}

/* Media query pour les écrans encore plus petits (par exemple, les smartphones) */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px; /* Réduire davantage la taille de la police pour les smartphones */
    }
    header {
        padding: 10px 0; /* Réduire l'espacement du haut pour les smartphones */
    }
    nav {
        display: block; /* Affichage en bloc pour la navigation sur les smartphones */
    }
    nav > div {
        margin: 5px 0; /* Ajouter de l'espacement entre les éléments de navigation */
    }
    .submenu {
        padding: 5px; /* Réduire l'espacement du sous-menu pour les smartphones */
    }
    .synopsis {
        padding: 10px; /* Réduire l'espacement pour la section synopsis sur les smartphones */
        width: auto; /* Ajuster la largeur automatiquement */
    }
    .synopsis h2 {
        margin: 50px 0; /* Ajouter de la marge supérieure et inférieure pour le titre de synopsis */
    }
    .bouton {
        margin: 20px 0; /* Ajouter de la marge supérieure et inférieure pour le bouton */
    }
    #salle1 > div {
        margin: 10px 0; /* Ajouter de l'espacement autour de la première salle pour les smartphones */
    }
    #salle1 > p {
        margin: 10px 0; /* Ajouter de l'espacement autour du texte de la première salle pour les smartphones */
    }
    .progress-container {
        display: none; /* Masquer la barre de progression pour les smartphones */
    }
    .meteorite {
        display: none; /* Masquer la météorite pour les smartphones */
    }
    #contact > div > img {
        margin: 0; /* Supprimer la marge autour de l'image de contact pour les smartphones */
    }
    .imgfooter {
        margin: 0; /* Supprimer la marge autour des images de pied de page pour les smartphones */
    }
    .imglogo {
        margin: 0; /* Supprimer la marge autour des images de logo pour les smartphones */
    }
    .overlay {
        font-size: 10px; /* Réduire la taille de la police pour les smartphones */
    }
    #gif.fullscreen {
        font-size: 10px; /* Réduire la taille de la police pour les smartphones */
    }
    
}
@media screen and (max-width: 1400px) {
    .progress-container {
        bottom: 84%; /* À 85% du bas de la page */
    }
    #salle2 > div > img, #salle3 > div > img, #salle4 > div > img, #salle5 > div > img {
        margin-left: 10px; /* Ajout de marge à gauche pour créer un espace */
        height: 1000%; /* Augmentation de la hauteur à 40% de l'espace parent */
        width: 1000%; /* Augmentation de la largeur à 40% de l'espace parent */
    }
    /* Pour ajouter de l'espace entre le texte et l'image */
    #salle2 > div > div > p, #salle3 > div > div > p, #salle4 > div > div > p, #salle5 > div > div > p {
        margin-left: 10px; /* Ajout de marge à gauche pour créer un espace */
    }
}
