h1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:linear-gradient(#0c143a, rgb(26, 46, 117));
    margin: 15px 350px 15px;
    border-radius: 30px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    color: white;
}
.s{
    text-align: center;
    background:linear-gradient(#304081, rgb(73, 118, 166));
    padding: 20px;
    margin: 20px 120px 20px;
    border-radius: 15px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

#first > div{
    margin: 5px;
}
#first > div > label{
    background-color: #b8e0e3;
    border-radius: 10px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    color: #000000;
    padding: 1px 3px 1px 3px;
}
#first > div > textarea{
    border-radius: 10px;
}
#first > div > input {
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 30px;
}
#first > div > select{
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 30px;
}
.t{
    text-align: center;
    background:linear-gradient(#0e163c, rgb(28, 48, 118));
    padding: 20px;
    margin: 20px 300px 20px;
    border-radius: 30px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

.t1{
    color: white;
    font-weight: bold;
}
#sub > input{
    background-color: rgb(47, 91, 208);
    border-radius: 30px;
    height: 50px;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    background-position: top left;
    background-image: url("../image/formu_bgd.jpg");
    background-position:fixed;
    background-repeat: no-repeat;
    background-size:cover;
}
header{
    text-align: center;
    background:linear-gradient(#364069, rgb(28, 48, 118));
    padding: 20px;
    margin: 20px 300px 20px;
    border-radius: 30px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    font-size: 30px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}