/* Styles de base */
html{
    height: 100vh;
    background-image: linear-gradient(rgb(241, 207, 123), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255),rgb(255, 255, 255));
}
body {
    background-image: linear-gradient(rgb(124, 211, 52), rgb(206, 206, 206), rgb(66, 83, 91), rgb(66, 83, 91),rgb(229, 187, 100), rgb(115, 73, 44),rgb(241, 207, 123),rgb(255, 255, 255));
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: linear-gradient(to bottom, transparent, #95d342),
    url('../image/banniere_matrix.jpg');
    color: #fff;
    text-align: center;
    padding: 20px 0;

}
nav{
    display:flex;
}
nav>div {
    display: inline;
    height: 20px;
    margin-left: 3%;
    margin-right: 3%;
}
nav>div:first-child{
    margin-left: auto;
}
nav>div:last-child{
    margin-right: auto;
}
nav .submenu{
    display: none;
}
nav>div:hover .submenu{
    display: block;
    padding:10px 0px ;
}
div.submenu>div{
    padding: 3px 10px;
    position: relative;
}
div.submenu{
    border-radius: 5px;
    background-image: linear-gradient(#2e6219, #9cd170);
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    padding: 60px;
    text-align: center;
    margin: 20px;
    display: inline-block;
    width: 600px;
    color: white;
}

.hero h2 {
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(#2e6219, #9cd170);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.hero a {
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(to bottom, #1c5e0b, #c0cfaa);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}
@keyframes clignoter {
    0%   { color: #f5e722; }
    40%   {color: #9cfc8c; }
    100% { opacity: initial; }
}

.destinations {
    padding: 40px;
    text-align: center;
    color: #000000;

}

.destination {
    margin: 0px;
    display: inline-block;
    width: 600px;
    color: #000000;
    flex-direction: row !important;
}
/*
.destinations h2{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#f68326, #ffff25);
    border-radius: 5px;
    color: white;
}

 */

.destination img {
    max-width: 100%;
    padding: 30px;
}

footer {
    background-image: linear-gradient(#fdf7e8, #fbcf27);
    color: #000000;
    text-align: center;
    padding: 40px;
}
.titre1{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#9fd25b, #c9c9ca);
    border-radius: 5px;
    color: white;
}

.titre2{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#727b81, #46545c);
    border-radius: 5px;
    color: white;
}

.titre3{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#58615d, #dab961);
    border-radius: 5px;
    color: white;
}

.titre4{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#704a2d, #b39256);
    border-radius: 5px;
    color: white;
}

.titre5{
    margin : auto;
    width: 120px;
    text-align: center;
    padding:10px 10px 10px 10px;
    background-image: linear-gradient(#b99959, #f3e4b4);
    border-radius: 5px;
    color: white;
}

